@tailwind base;
@tailwind components;
@tailwind utilities;

/* App base resets */
* {
  box-sizing: border-box;
}
html,
body,
#root {
  height: 100%;
}
body {
  margin: 0;
  background: #f5f7fb;
  color: #0f172a;
}

html {
  @apply font-heading;
}
